body {
    background: midnightblue;
    margin: 20px;
    color: white;
    image-rendering: pixelated;
    font-family: "Monaco", monospace;
}
header {
    text-align: left;
}
hr {
    margin: 20px;
    color: white;
}
