body {
    background: midnightblue;
    padding: 20px;
    color: white;
    image-rendering: pixelated;
    font-family: "Monaco", monospacel
}
header {
    text-align: left;
}
hr {
    padding: 20px;
}
